.navbar{
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    color: #212529;
    width: 100%;
    z-index: 2;
    position: fixed;
}
.navbar_content{
    font-weight: 700;
    font-style: italic;
    font-size: 1.3rem;
    margin: .5rem;
    padding-left: 100px;
    margin-right: 40px;
}
.navbar_content a{
    text-decoration: none;
    color: #212529;
}
.navbar_nav li a {
    text-decoration: none;
    color: #212529;
    padding: 1rem;
    display: block;
}
.navbar_nav a:hover{
    color: #212529;
    background-color: #c5c6c6;
}
.navbar_nav ul{
    padding: 0;
    margin: 0;
    display: flex;
}
.navbar_nav li{
    list-style: none;
}
.toggle_button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}
.toggle_button .bar{
	height: 3px;
	width: 100%;
	background-color: #212529;
	border-radius: 10px;
}
@media (max-width:480px){
	.navbar_content{
		font-weight: 700;
		font-style: italic;
		margin-left: 90px;
	}
	.toggle_button{
		display: flex;
	}
	.navbar_nav{
		display: none;
        width: 100%;
	}
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_nav ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar_nav li{
        text-align: center;
    }
    .navbar_nav a{
        padding: .5rem 1rem;

    }
    .navbar_nav.active{
        display: flex;
    }
}